@import "../abstracts/all.scss";

@include mobile {


  .mobile-hidden {
    display: none;
  }

  .header-section {
    &_container {

      &_nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2rem 1rem;
        background-color: $navBg;

        &_up{
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;

          &_button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12rem;
            height: 3.7rem;
            border: none;
            border-radius: 40px;
            background-color: $headerBtnBg;
            color: $headerTitle;
            font-weight: $fw-bold;
            letter-spacing: 2px;
            cursor: pointer;
            margin: 0 auto;
          }
  
          &_icon {
            width: 4rem;
            cursor: pointer;
          }

        }

        
      }

      &_navigation {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1px;
        width: fit-content;
        padding: 1rem 0;
        background-color: $navItemBg;

        &_item {
          width: 100%;
          padding: 2rem 4rem;
          font-size: 2.6rem;

          &_link {
            color: $navMobileLink;
            font-weight: $fw-normal;

            &.active {
              color: $navActiveMobileLink;

              &::before {
                content: "";
                border: 5px solid $navActiveMobileLink;
                position: relative;
                left: -40px;
              }

            }

          }

        }

        hr {
          width: 100%;
          height: 2px;
          background-color: rgb(175, 175, 175);
          border: none;
        }

        &.hidden {
          display: none;
        }

      }

      &_main {
        width: 100vw;
        min-height: 90rem;
        background-image: url("../img/header-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 4rem;

        &_text {

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          margin-top: 5rem;

          &_title {
            color: $headerTitle;
            font-size: 4.8rem;
            font-weight: $fw-bold;
          }

          &_desc {
            color: $headerDesc;
            font-size: 1.8rem;
            font-weight: $fw-normal;
            text-align: center;
          }

          &_info {
            color: $headerInfo;
            font-size: 1.4rem;
            font-weight: $fw-normal;
          }

        }

      }

      &_last {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.4rem;

        &_btn {
          width: 90%;
          height: 4.5rem;
          background-color: $navActiveMobileLink;
          border: none;
          border-radius: 4rem;
          margin-top: -2rem;
          color: #FFFFFF;
          font-size: 1.8rem;
          font-weight: $fw-bold;
          letter-spacing: 1.2px;
          cursor: pointer;
        }

        &_info {
          color: $headerInfo;
          font-size: 1.4rem;
          font-weight: $fw-normal;
        }
      }

    }
  }

}

@include tablet {
  .tablet-hidden {
    display: none;
  }

  .header-section {
    &_container {


      &_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        background-color: $navBg;
        padding: 2rem;


        .logo-section{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
        }

        .logo-name{
          color:$navLink;
          font-size: 2.4rem;
          font-weight: $fw-bold;
          font-family: 'Lato', sans-serif;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          transition: all .3s ease-in-out;

          &:hover{
            color: #FFFFFF;
          }
        }
        

        &_up {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          &_button {
            width: 14rem;
            height: 3.5rem;
            border-radius: 3.5rem;
            border: none;
            background-color: $headerBtnBg;
            color: $headerTitle;
            font-size: 1.6rem;
            font-weight: $fw-bold;
            letter-spacing: 1.2px;
            cursor: pointer;
          }
        }

        &_open-nav{
          width: 80%;
          padding-top: 1.4rem;
          &_list{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            justify-content: space-around;

            &_item{
              
              &_link{
                color: $navLink;
                font-size: 1.6rem;
                font-weight: $fw-bold;
                letter-spacing: 1.2px;
                transition: all 0.3s ease-in-out;

                &:hover{
                  color: $navHoverLink;
                }
              }
            }
          }
        }

        }

        &_main{
          width: 100vw;
          height: 80vh;
          background-image: url("../img/img 1.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          &_text{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            gap: 2rem;

            &_title{
              color: $headerTitle;
              font-size: 7.2rem;
              font-weight: $fw-bold;
            }

            &_desc{
              color: $headerDesc;
              font-size: 2.4rem;
              font-weight: $fw-normal;
              text-align: center;
            }

            &_info{
              color: $headerInfo;
              font-size: 1.4rem;
              font-weight: $fw-normal;
            }
          }

        }

        &_last{
          width: 100%;
          padding:0 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;

          &_btn{
            width: 39rem;
            border: none;
            height: 6.2rem;
            border-radius: 4rem;
            background-color: $headerBtnBg;
            color: $headerTitle;
            font-size: 2.1rem;
            font-weight: $fw-bold;
            margin-top: -3.1rem;

            &:hover{
              border: 2px solid $headerBtnBg;
              background-color: $headerTitle;
              color: $headerBtnBg;
            }

            

          }

          &_info{
            color: $headerInfo;
            font-size: 1.4rem;
            font-weight: $fw-normal;
            margin-top: 2rem;
          }

        }



      }
    }
  }


  @include desktop{

    .desktop-hidden{
      display: none;
    }

    .header-section{
      
      background-image: url("../img/img 1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &_container{
        max-width: 120rem;
        height: 90vh;
        margin: 0 auto;
        margin-bottom:10rem;
        
        .desktop-nav{
          padding:2rem 5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          

          .logo-section{
                        display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
          }

                    .logo-name{
            color:$navLink;
            font-size: 2.4rem;
            font-weight: $fw-bold;
            font-family: 'Lato', sans-serif;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            transition: all .3s ease-in-out;

            &:hover{
              color: #FFFFFF;
            }
          }


          &_left{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
          }

          &_list{
            display: flex;
            gap: 2rem;

            &_item{

              &_link{
                color: $navLink;
                font-size: 1.6rem;
                font-weight: $fw-bold;
                transition: all 0.3s ease-in-out;

                &:hover{
                  color:$navHoverLink;
                }
              }
            }
          }

          &_button{
            width: 14.5rem;
            height: 3.7rem;
            border: none;
            border-radius: 4rem;
            background-color: $headerBtnBg;
            cursor: pointer;
            color: $headerTitle;
            font-size: 1.6rem;
            font-weight: $fw-bold;
            letter-spacing: 1.2px;
            transition: all 0.3s ease-in-out;

            &:hover{
              background-color: $navHoverLink;
              border: 1px solid $headerBtnBg;
              color: $navLink;
              
            }
          }
        }

        &_main{
          
          &_text{
            display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
            text-align: center;
            gap: 2rem;
            

            &_title{
              color: $headerTitle;
              font-size: 8.2rem;
              font-weight: $fw-bold;
            }

            &_desc{
              color: $headerDesc;
              font-size: 3rem;
              font-weight: $fw-normal;
            }

            &_info{
              color: $headerInfo;
              font-size: 1.6rem;
              font-weight: $fw-normal;
            }

          
          }
        }

        &_last{
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 90vh;
          left: 0;
          right: 0;
          margin: 0 auto;



          &_btn{
            width: 39rem;
            height: 6.2rem;
            border-radius: 4rem;
            border: none;
            background-color: $headerBtnBg;
            margin-top: -3.1rem;
            color: $headerTitle;
            font-size: 2.1rem;
            font-weight: $fw-bold;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            

            &:hover{
              border: 2px solid $headerBtnBg;
              background-color: $headerTitle;
              color: $headerBtnBg;
            }
          }

          &_info{
            font-size: 1.4rem;
            font-weight: $fw-normal;
            color: $headerInfo;
            margin-top: 2rem;
          }
        }

      }
    }
    }
  