@import "../abstracts/all.scss";

.pricing-header-text {
  .pricing-header {
    text-align: center;
    color: white;
    font-size: 2.8rem;
    font-weight: $fw-bold;
    background-color: $fsBackground;
    margin: 0;
    padding: 2rem;
  }
}

.pricing-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-image: url("../img/pricing-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pricing-back {
  background-image: url("../img/pricing-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fork-subscription-pricing {
  max-width: 120rem;
  display: block;
  margin: 0 auto;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  color: $fsPrice;
  height: 46rem;
  width: 26.5rem;
  margin-bottom: 2rem;
  background-image: url("../img/card-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__name {
    background-image: url("../img/heading-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    font-weight: $fw-normal;
  }

  &__price {
    font-size: 6rem;
    text-align: center;
    font-weight: $fw-bold;
    margin: 1.5rem 0 0 0;
  }

  &__dollar {
    font-weight: $fw-normal;
  }

  &__per-month {
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    margin: 1.3rem 0;
  }

  &__card-sep {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  &__support {
    font-size: 1.6rem;
    text-align: center;
  }

  &__purchaseB-container {
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__purchaseB {
    text-transform: uppercase;
    padding: 1.3rem 4rem;
    background-color: #776b79;
    color: $fsPrice;
    border: 0px double #cccccc;
    border-radius: 30px;
  }
}

.agency-theme {
  margin: 0 0 2rem 0;
  background-image: url("../img/base-agency.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
  width: 30rem;
}

.pricing-card__name--background {
  background-color: $fsBackAgency;
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 0;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  font-weight: $fw-normal;
}
