// Header Section

$navBg: #27262a;
$headerBtnBg: #8d81ac;
$headerTitle: #ffffff;
$headerDesc: #8d81ac;
$headerInfo: #848e97;

$navMobileLink: #ffffff;
$navActiveMobileLink: #8d81ac;
$navItemBg: #333333;

$navLink: #8d81ac;
$navHoverLink: #ffffff;

// Revolutionary Editor Section ---> re short name

$reTitle: #635c73;
$reDesc: #323232;

// Here is what you get Section -----> hi short name

$hiTitle: #8d81ac;
$hiName: #323232;
$hiDesc: #848e97;

// People Are Talking About Fork Section -----> pt Short name

$ptTitle: #ffffff;
$ptDesc: #ffffff;
$ptInfo: #a291a5;

// Fork Subscription Pricing Section ------> fs Short name

$fsTitle: #ffffff;
$fsPrice: #ffffff;
$fsInfo: #ffffff;
$fsBackground: #4a3b4e;
$fsBackAgency: #3f2c41;
